/vendor
/node_modules
/public/pictures
Homestead.yaml
Homestead.json
.env

/public/packages
/resources/views/vendor

# phpstorm, netbeans, eclipse project files, thumbnail cache, Mac DS_Store Files
.idea
nbproject
.buildpath
.project
.settings
Thumbs.db
.DS_Store
*.rar